header {
    padding: 40px;
    background: #ebebeb;
    text-align: center;
    display: block;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    align-content: center;
}
nav {
    padding: 35px;
    background: #ebebeb;
    text-align: center;
    display: block;
}
#section {
    background: #ebebeb;
    float: left;
    padding:20px 40px 80px 40px;
    height: 450px;
    width: 495 px;
    text-align: center;
    margin-right: 20px;
}
#aside {
    background: #ebebeb;
    float: right;
    width: 465px;
    text-align: center;
    color: grey;
    height: 400px;

}
article {
    color: white;
    background: #777;
    width: 485px;
    text-align: center;
    height:370px;
}

#middle {
    margin-top: 20px;
}

h1 {
    background: #ebebeb;
    padding: 15px;
    text-align: center;
    color: grey;
    width: 460px;

}
p{
    text-align: center;
    background: #ebebeb;
    color:grey;
    width: 460px;
    padding: 15px;
}
footer {
    background: #ebebeb;
    padding: 25px;
    margin-top: 20px;
    clear: both;

}